* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/* Basic layout */

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.sidebar {
    background-color: #479dee;
    position: fixed;
    height: 100vh;
    width: 220px;
}

.content-container {
    width: calc(100% - 220px);
    margin-left: 220px;
}

.content {
    background-color: #eee;
}

/* Toggle sidebar */

.toggle-sidebar {
    position: absolute;
    width: 1.5em;
    z-index: 1;
}

.toggle-sidebar:has(input[type=checkbox]) {
    height: 100vh;
}

.toggle-sidebar input[type=checkbox] {
    appearance: none;
} 

.toggle-sidebar label::after {
    content: url("./assets/menu-icon.svg");
    position: absolute;
    width: 100%;
    cursor: pointer;
}

.toggle-sidebar label:has(+ input[type=checkbox]:checked)::after {
    content: url("./assets/arrow-icon.svg");
    padding: calc(50vh - 1em) 0;
    background-color: #479dee;
}

.toggle-sidebar:has(input[type=checkbox]:checked) + .container > .sidebar {
    transform: translateX(calc(-100% + 1em));
}

.sidebar {
    transition: transform 0.5s ease-in;
}

.toggle-sidebar:has(input[type=checkbox]:checked) + .container > .content-container {
    width: calc(100% - 1em);
    margin-left: 1em;
}

.content-container {
    transition: width 0.5s ease-in, margin-left 0.5s ease-in
}

/* Sidebar style */

.sidebar {
    padding: 2.2em 1.2em 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    align-items: center;
}

.menu > * {
    margin-bottom: 1.5em;
}

.menu h2, .sidebar li {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.3em
}

.menu h2 {
    font-size: 1.5rem;
}

.menu li {
    font-size: 1.1rem;
    cursor: pointer;
}

.menu li:hover {
    font-size: 1.3rem;
    transition: all 0.2s ease-in;
    color: #222;
    text-shadow: 0.5px 0.5px 1px black;
}

.menu .icon {
    width: 1.5em;
    margin-right: 0.5em;
}

.menu .icon.logo {
    width: 2em;
}

/* Header style */

.header {
    display: grid;
    grid-template-rows: min-content min-content;
    padding: .5em;
}

/* Top-header */

.search-container {
    display: flex;
    flex-flow: row wrap-reverse;
    padding: 0 2em;
}

.search-bar, .profile {
    padding: 0.4em;
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.search-bar {
    flex: 3 0 auto;
    justify-content: center;
    min-width: 300px;
}

.profile {
    flex: 2 0 auto;
    justify-content: flex-end;
    min-width: 150px;
    padding-left: 5em;
}

:is(.search-container, .profile) .icon {
    width: 1.8em;
}

.search-container input[type=search] {
    width: max(200px, 80%);
    border-radius: 5px;
    height: 2em;
}

.profile .profile-picture {
    width: 1.8em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 3px 1px black;
}

.profile .username {
    min-width: max-content;
}

/* Bottom header */

.post-creator {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    gap: 2em
}

.welcome {
    display: flex;
    gap: 1em
}

.welcome-msg {
    display: flex;
    flex-direction: column;
}

.welcome-msg .username {
    font-weight: 500;
    font-size: 1.2em;
    width: max-content;
}

.welcome .profile-picture {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 3px 1px black;
}

.post-options {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.post-option-btn {
    appearance: none;
    padding: 0.5em 2em;
    border-radius: 15px;
    background-color: #479dee;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.post-option-btn:hover, .post-option-btn:active {
    background-color: #5faaf0;
    box-shadow: 1px 1px 3px #888;
    transform: translateY(-2px);
    transition: all 0.1s ease-in;
}

.post-option-btn:active {
    transform: translateY(3px);
    transition: all 0.1s ease-in;
}
